{% extends 'paginas/modelo-blue-deep.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}
<h3>{{ titulo }}</h3>

<p class="lead">
    Preencha todos marcados como obrigatório.
</p>

<hr>

<form action="" method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-light mt-3">Salvar</button>

</form>

<script>
    $("id_cep").blur(function (e){
        var url = "http://viacep.com.br/ws/" + $('#id_cep').val() + "/json/";
        $.getJSON(url, "", function(data,textStatus, jqXHR) {
            $("#id_logradouro").val(data.logradouro);
            $("#id_cidade").val(data.localidade);
        });  
    })
<script/>

{% endblock %}
