{% extends 'paginas/modelo-blue-deep.html' %}

{% load static %}

{% block conteudo %}
<h3>
    Lista de animals registrados
    <a href="{% url 'animal-create' %}" class="btn btn-primary btn-sm float-right">Novo Animal</a>
</h3>

<hr>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    
        {% for animal in object_list %}
        <tr>
            <td>{{ animal.nome }}</td>
            <td>{{ animal.lote }}</td>
            <td>
                <a href="{% url 'animal-update' animal.pk %}" class="btn btn-warning btn-sm" title="Editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="{% url 'animal-delete' animal.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum animal registrado.</td>
        </tr>
        {% endfor %}
    
    </table>
</div>
{% endblock %}