{% extends 'paginas/modelo-blue-deep.html' %}

{% load static %}

{% block conteudo %}
<h3>
    Lista de cios registrados
    <a href="{% url 'cio-create' %}" class="btn btn-primary btn-sm float-right">Nova cio</a>
</h3>

<hr>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Animal</th>
            <th>Ultima serventia</th>
            <th>Opções</th>
        </tr>
    
        {% for cio in object_list %}
        <tr>
            <td>{{ cio.animal.nome }}</td>
            <td>{{ cio.ultimaServ }}</td>
            <td>
                <a href="{% url 'cio-update' cio.pk %}" class="btn btn-warning btn-sm" title="Editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="{% url 'cio-delete' cio.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum cio registrado.</td>
        </tr>
        {% endfor %}
    
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function () {
        alert("Atenção ao trabalhar com os dados!");
    });  

</script>
{% endblock %}